.sqs-block-image {

    &.image-block:not(:first-of-type) {
        margin-top: -40px;
    }
    // 
    // collage layout
    // 
    .design-layout-collage {
    
        &.image-position-left {
            background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/jess-background-img-1.svg");
            background-position: left center;
            background-repeat: no-repeat;
        }

        &.image-position-right {
            background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            background-repeat: no-repeat;
            background-position: 27% center;

            @media only screen and (max-width: 640px) {
                background-size: 82%;
                background-position: center;
            }
        }
    } // end collage layout

    .design-layout-card {

        &.image-position-left {
            background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            background-position: center;
            background-repeat: no-repeat;
        }

        &.image-position-right {
            background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/jess-background-img-1.svg");
            background-repeat: no-repeat;
            background-position: center;

            @media only screen and (max-width: 640px) {
                background-size: 82%;
                background-position: center;
            }
        }
    }
}