.sqs-block-image {
    .design-layout-collage {
    
        &.image-position-left {
            background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}