#about,
#wine-about {

    // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/jess-background-img-1.svg");
    // background-repeat: no-repeat;
    // background-position: 4vw 173vh;

    // @media only screen and (max-width: 640px) {
    //     background-size: 82%;
    //     background-position: left bottom;
    // }

    .section-title.about {
        background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-blue-green-title-background.svg");
        background-position: top;
        background-repeat: no-repeat;
    }

    .Index-page-content {
        background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-tan-shape.svg");
        background-position: 100% 46%;
        background-repeat: no-repeat;
    }

    .row {

        .image-block:nth-of-type(2) {
                background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/about-landing.svg");
                background-position: left 6vh;
                background-repeat: no-repeat;
                padding-left: 20px;

                @media only screen and (max-width: 640px) {
                    padding-left: 0;
                }
            .intrinsic {
                padding-top: 6rem;
                @media only screen and (max-width: 640px) {
                    width: 70vw;
                }
            }

            .image-card-wrapper {
                padding-left: 5rem;
                background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-yellow-mountain-shapepray-tell-yellow-mountain-shape.svg");
                background-position: left top;
                background-repeat: no-repeat;
                padding-top: 9rem;

                @media only screen and (max-width: 640px) {
                    padding-left: 0;

                }
                .image-subtitle p {
                    text-align: justify;
                }
            }



        } //end .image-block:nth-of-type(2)

        .image-block:nth-of-type(3) {
            .intrinsic {

                .image-inset {
                    left: 0;
                    width: 70%;

                }

                @media only screen and (max-width: 640px) {
                    padding-left: 0;

                    .image-card-wrapper {
                        width: 100%;
                        margin-top: calc(9% - 10%);
                    }
                }
            } // END .intrinsic

            .image-card-wrapper {

                @media only screen and (max-width: 640px) {
                    width: 100%;
                    margin-top: calc(9% - 10%);
                }

                            .image-card .image-subtitle p {
                text-align: justify;
            }
            }
        } // END .image-block:nth-of-type(3)



        .image-block {
            @media only screen and (max-width: 640px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .row {
        position: relative;
        overflow: visible;

        .embed-block[data-block-json*="tom"] {
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // left: 0;
            // top: 0;
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            // background-position: center;
            // background-repeat: no-repeat;
        }
    }
}
