
/*
https://scarlet-trout-cs7a.squarespace.com/s/about-landing.svg

https://scarlet-trout-cs7a.squarespace.com/s/about-face.svg

https://scarlet-trout-cs7a.squarespace.com/s/about-triangles.svg

https://scarlet-trout-cs7a.squarespace.com/s/face-alone.svg

https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-green-half-circle-sm.svg

https://scarlet-trout-cs7a.squarespace.com/s/arrows-up.svg

https://scarlet-trout-cs7a.squarespace.com/s/arrows-down.svg

https://scarlet-trout-cs7a.squarespace.com/s/about-landing-2.svg

*/

// vertical brown bar
// #landing .row .sqs-col-4 {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-vertical-bar-shape.svg");
//     background-repeat: no-repeat;
// }

// // blue lg rectangle
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-blue-green-title-background.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // blue lg rectangle
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-about-rectangel-shapepray-tell-about-rectangel-shape.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape blue green box
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-blue-green-shape.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape brown squiggle
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-brown-squigglepray-tell-brown-squiggle.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape footer border
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-footer-borderpray-tell-footer-border.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape blue half circle
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-green-half-circle.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape orange circle
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-orange-circle-shape.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }
// // shape blue corner
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-blue-shape.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }



// // shape yellow mountain
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-yellow-mountain-shapepray-tell-yellow-mountain-shape.svg");
//     background-position: top;
//     background-repeat: no-repeat;
// }

// // tom background
// body {
//     background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
//     background-position: center;
//     background-repeat: no-repeat;
// }
