#landing,
#wine-landing {
	// shape orange amoeba
	.Index-page-content {
		background: 
			url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-orange-shape.svg) 
			no-repeat;
			background-size: 63%;
			background-position: left 57%;

		@media only screen and (max-width: 640px) {
			background-size: 113%;
			background-position: 35% 13%;
		}
	}

	.row {
		.sqs-col-4 {
			background-position: 92% top;
		}

		.sqs-col-5 {
			position: relative;

			.code-block {
				position: absolute;
				background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-green-squigglepray-tell-green-squiggle.svg) no-repeat, url(https://scarlet-trout-cs7a.squarespace.com/s/landing-red-squiggle.svg) no-repeat;
				background-position: left top;
				background-size: 23vw, 13vw;
				top: -1.4em;
				width: 100%;
				padding: 3em;
				left: 0;
				height: 100%;
				z-index: 9999;
				animation: filter-animation 1.5s;
				-webkit-animation: filter-animation 1.5s;

				&::before {
					content: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-green-half-circle-sm.svg);
					position: absolute;
					bottom: 0;
					right: 36px;
				}

				@media only screen and (max-width: 640px) {
					background-size: 46vw, 17vw;
					top: -0.4em;
					width: 97vw;
					left: 40vw;
				}
			}
		}

		.sqs-col-12 > {
			.sqs-block-spacer {
				@media only screen and (max-width: 640px) {
					display: none;
				}
			}
		}
	}
}
