main.Main {
    background: #fae7d6;
}

.Site-inner .Content-outer main .Index-page {
    background: transparent;
}
body button.checkout-button.sqs-editable-button span {
        font-family: Abel;
        font-size: 1.5em;
}