// new squarespace products landing products


#wine,
#wine-purchase {

    // title
    .section-title.wine {
        background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-our-wine-title-backgroundpray-tell-our-wine-title-background.svg) no-repeat;
        background-position: top;
    }

    .row {
        .sqs-col-3 {
            .more-info {
                padding: 0 3em;
                cursor: pointer;
            }
            // image caption
            .image-block-outer-wrapper {
                .image-caption  {
                    padding: 0 48px;
                    p {
                        text-align: right;
                        line-height: 10em;
                        font-size: 18px;
                    }
                }
                .code-block + .form-block {
                        padding: 12px 0;
                }
            }

            &:nth-child(1) {
                background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-gamay-shape.svg) no-repeat center top 20%;
            }
            &:nth-child(2) {
                background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-wine-2-shape.svg) no-repeat center top 20%;
            }
            &:nth-child(3) {
                background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-wine-3-shape.svg) no-repeat center top 20%;
            }
            &:nth-child(4) {
                background: url(https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-wine-4-shape.svg) no-repeat center top 20%;
            }
        }
        // not the first column(gamay)
        .sqs-col-3:not(:first-of-type) {
            .sqs-product-quick-view-button-wrapper {
                visibility: hidden;
            }
            .image-container {
                a {
                    pointer-events: none;
                }
            }
        }
    }

    .productDetails {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}


// quick view
.sqs-product-quick-view-content {
    & * {
        font-family: Abel;
    }
}
// #featured-wine {

//     .row {
//         >.span-12 > .markdown-block {
//             padding: 0;
//         }

//         .row {
//             .markdown-block {
//                 .coming-soon {
//                     float: right;
//                 }
//             }
//         }
//     }

//     .sqs-col-3 .sqs-block-html {
//         padding-right: 43px;
//     }

//     .lightbox-handle.sqs-system-button {
//         border: none;
//         font-size: 18px;
//         padding: 0;
//         border-bottom: 1px solid black;
//         padding-bottom: 5px;

//         &:hover {
//             background-color: transparent;
//             color: black;
//             border-bottom: 2px solid black;
//         }
//     }

//     .ecwid-Product-85415372 {
//         // gamay oblong shape
//         background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-gamay-shape.svg");
//         background-position: 21% 27%;
//         background-repeat: no-repeat;
//         background-size: 75%;
//     }
// }
