.sqs-lightbox-overlay.sqs-lightbox-overlay-default {
	opacity: 0.93 !important;
}
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content,
#trade {
	background: #fae7d6;
}

body.noscroll {
	overflow: hidden;
}

.modal {
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: opacity 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);

	.modal-background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		background-color: rgba(0, 0, 0, 0.63);
		transition: opacity 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}

	.lightbox-content {
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		padding: 40px;
		color: #5a6657;
		background: #fae7d6;
		// overflow: auto;
		margin-top: 40px;

		.Index-page {
			margin-top: 30px;
		}

		#register-popup,
		#wine-register-popup {
			background: url(https://scarlet-trout-cs7a.squarespace.com/s/orange-corner.svg) no-repeat;
			background-size: 33%;

			&::before {
				content: url("https://scarlet-trout-cs7a.squarespace.com/s/blue-half-circle.svg");
				position: absolute;
				bottom: 3%;
				right: 45%;
			}
		}
		.Index-page-content {
			padding: 0;
		}
	}

	.Main-content {
		padding: 3em 0;

		.Index-page-content {
			// padding: 0;

			.lightbox-handle-wrapper {
				// display: flex;
				// justify-content: flex-end;
			}
		}
	}

	.lightbox-content {
		color: #5a6657;
	}
	.sqs-block-html .sqs-block-content {
		text-align: justify;
	}
	.close {
		z-index: 9999;

		position: absolute;
		color: #5a6657;
		font-size: 22px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		width: 22px;
		line-height: 22px;
		top: 40px;
		right: 40px;
		text-align: center;
		cursor: pointer;
	}

	.close:hover,
	.close:focus {
		color: #5a6657;
		text-decoration: none;
		cursor: pointer;
	}

	.sqs-row {
		display: flex;
		justify-content: center;
	}
}

// trade lightbox
#trade {
	padding: 2rem;
	.Index-page-content {
		background: #fae7d6;
	}
}
