#about,
#wine-about {

    .image-block:nth-of-type(2) {
        background: red;
        
        .image-block-outer-wrapper::before {
            // padding-left: 5rem;
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-yellow-mountain-shapepray-tell-yellow-mountain-shape.svg");
            // background-position: left top;
            // background-repeat: no-repeat;
            // padding-top: 9rem;
            content: url("https://scarlet-trout-cs7a.squarespace.com/s/pray-tell-yellow-mountain-shapepray-tell-yellow-mountain-shape.svg");
            position: absolute;
            width: 100%;
            height: 100%;
            
            @media only screen and (max-width: 640px) {
                padding-left: 0;

            }
        }
    }

    // everything but the first image block
    .image-block:not(:nth-of-type(2)) {
        margin-top: -50px;

    // 
    // collage layout
    // 
    .design-layout-collage {
    
        &.image-position-left {
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/jess-background-img-1.svg");
            background-position: left center;
            background-repeat: no-repeat;
        }

        &.image-position-right {
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            background-repeat: no-repeat;
            background-position: 27% center;

            @media only screen and (max-width: 640px) {
                background-size: 82%;
                background-position: center;
            }
        }
    } // end collage layout

    .design-layout-card {

        &.image-position-left {
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/tom-background-1.svg");
            background-position: center;
            background-repeat: no-repeat;
        }

        &.image-position-right {
            // background-image: url("https://scarlet-trout-cs7a.squarespace.com/s/jess-background-img-1.svg");
            background-repeat: no-repeat;
            background-position: center;

            @media only screen and (max-width: 640px) {
                background-size: 82%;
                background-position: center;
            }
        }
    }

}
}